@font-face {
    font-family: Monument Extended;
    src: url(././FONTES/MonumentExtended-Regular.otf);
    src: url(././FONTES/MonumentExtended-Ultrabold.otf);
}




body {

    position: relative;
    width: 1440px;
    height: 2447px;
    background: #0A0A0A;

}


.navbar {
    position: absolute;
    width: 947px;
    height: 36px;
    left: 400px;
    top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}




.navbar ul li {

    list-style: none;
    display: inline-block;
    margin: 0 20px;



}

.navbar ul li a {

    font-weight: bold;
    transition: 0.1s;
    text-decoration: none;
    font-family: 'Monument Extended';
    font-style: normal;
    font-size: 18px;
    color: #F3F3F3;
    text-transform: uppercase;

}

.navbar ul li a:hover {
    color: #7C5A7E;
}


.home {
    position: absolute;
    width: 947px;
    height: 327px;
    left: 246px;
    top: 180px;
}

#text-home {
    font-family: 'Monument Extended';
    font-style: normal;
    font-weight: 800;
    font-size: 70px;
    line-height: 66px;
    color: #FFFFFF;
}

#image-profile img {
    position: absolute;
    width: 328px;
    height: 327px;
    left: 660px;
    top: 20px;
    filter: drop-shadow(0px 4px 9px rgba(0, 0, 0, 0.25));
}

#typing-1,
.color-style {
    color: #7C5A7E;

}



#session-title {
    position: relative;
    width: 206px;
    height: 36px;
    left: 616.42px;
    top: 752px;
    font-family: 'Monument Extended';
    font-size: 30px;
    text-align: center;
    color: #FFFFFF;
}




#image-about img {
    position: absolute;
    width: 376px;
    height: 410px;
    left: 258px;
    top: 864px;
}

#text-about {
    position: absolute;
    width: 500px;
    height: 391px;
    left: 693px;
    top: 880px;
    font-family: 'Monument Regular';
    font-size: 18px;
    text-transform: uppercase;
    color: #FFFFFF;
}


.text-skills {
    position: absolute;
    width: 945px;
    height: 445.73px;
    left: 248px;
    top: 1465px;
    font-family: 'Monument Extended';
    font-style: normal;
    font-weight: 800;
    font-size: 80px;
    line-height: 96px;
    text-align: center;
    text-transform: uppercase;
}

#session-title2 {
    position: absolute;
    width: 139px;
    height: 47.84px;
    left: 656px;
    top: 1465px;
    font-family: 'Monument Extended';
    font-size: 30px;
    color: #FFFFFF;

}


.skill-1 {
    color: #7C5A7E;
}

.skill-2 {
    color: #ffffff;
}

.skill-1:hover {
    color: #ffffff;
    transform: scale(1.1);
    transition: transform .6s;
}

.skill-2:hover {
    color: #7C5A7E;
    transform: scale(1.1);
    transition: transform .6s;
}



#session-title3 {
    position: absolute;
    width: 156px;
    height: 36px;
    left: 646px;
    top: 1982px;
    font-family: 'Monument Extended';
    font-style: normal;
    font-size: 30px;
    color: #FFFFFF;

}

.cont-1 {
    color: #7C5A7E;
}

.cont-2 {
    color: #ffffff;
}

.cont-1:hover {
    color: #ffffff;
    transform: scale(1.1);
    transition: transform .6s;
}

.cont-2:hover {
    color: #7C5A7E;
    transform: scale(1.1);
    transition: transform .6s;
}


.text-contato {
    position: absolute;
    width: 945px;
    height: 250px;
    left: 248px;
    top: 2061px;
    font-family: 'Monument Extended';
    font-style: normal;
    font-size: 65px;
    text-align: center;


}

.text-contato a {
    text-decoration: none;


}