
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    outline: none;
}

/* Smooth scroll */
html{
    scroll-behavior: smooth;
}


.container{
    max-width: 1300px;
    padding: 0px 100px;
    margin: auto;
    z-index: 10;
}
.text-secondary{
    color: #fdfdfd;
}

.text-center{
    text-align: center;
}
.m-heading{
    font-size: 32px;
    margin-bottom: 12px;
}


.btn-md{
    display: inline-block;
    background: #697efe;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    padding: 8px 36px;
    margin-top: 20px;
    border-radius: 50px;
    transition: all 0.3s ease;
}
.btn-md:hover{
    color: #697efe;
    background: none;
    transform:scale(1.2);
}


.showcase{
    background-image: url('./backkkkss.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}

.navbar{
    width: 100%;
    margin: auto;
    padding: 35px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 999;
}


.navbar .logo{
    color: #697efe;
    font-size: 30px;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    font-size: 16px;
    text-transform: uppercase;
}


.navbar ul li a{
    color: #ffffff;
    font-weight: bold;
    transition: all 0.5s ease;
}

.navbar ul li a:hover{
    color: #697efe;
}

/* SESSÃO HOME */

.showcase-text{
    max-width: 800px;
    padding-top: 250px;
    padding-left: 120px;
    color: #fff;
}
 .showcase-text .text-1{
    font-size: 27px;
    font-weight: bolder;
}
.showcase-text .text-2{
    font-size: 60px;
    font-weight: bolder;
    
}
.showcase-text .text-3{
    font-size: 40px;
    margin: 5px 0;
    font-weight: bolder;

}
.showcase-text .text-3 span{
    color: #697efe;
}
.showcase-img img{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 500px;
    height: 100%;
    object-fit: cover;
    opacity: 0.2;
    overflow: hidden;
    
}



/* SOBRE */

#about{
    background: #000000;
}


.about h5{
    font-weight: 700;
    transform: translateY(-65px);
}

.about .about-content .column{
    margin-top: 60px;
    margin-bottom: 40px;
}
.about .about-content,
.services .service-content,
.skills .skill-content,
.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    transform: translateY(-60px);
}

.about .about-content .left{
    width: 50%;
    padding: 0 20px;
    overflow: hidden;
}
.about .about-content .left img{
    height: 350px;
    width: 350px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #000000;
    
}

.about .about-content .right{
    width: 45%;
    color: #ffffff;
}

.about .about-content .right .text{
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: bolder;


}


.about .about-content .right p{
    text-align: justify;
  
}
.about .about-content .right .text span{
    color: #697efe;
}
.about .about-content .right .table{
    width: 500px;
    padding: 10px 0;
    margin-left: 0px;
}
.about .about-content .right .table td{
    padding: 10px;
}

.textoeu {
   font-weight: normal;
   padding: 2px;
   text-decoration:dotted;

}




/* SKILLS */



.skills {
    background-color: #000000;
    width: 100%;
    padding: 100px 0px;
}

.container-skills {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 1130px;
    margin-bottom: 150px;
    margin-left: 150px;
}

img {
    width: 120px;
    padding-left: 20px;
}





#hover1:hover {
    transform: scale(1.1);
    transition: transform .6s;

}


    




/* CONTATO */

section{
    padding: 80px 0;
    background: #000000;
}

.contact h1{
    color: #697efe;
    text-align: center;
    font-size: 80px;
    transform: translateY(20px);
    opacity: 0.1;
    padding-top: -20px;
}
.contact h5{
    font-weight: 700;
    transform: translateY(-65px);
}


.contact .contact-content .column{
    margin-top: 60px;
    display: inline-flex;
    width: 50%;
    padding-left: 40px;
}
.contact .contact-content .left h2{
    font-size: 30px;
    margin-bottom: 30px;
    color: #ffffff;
}

.contact .contact-content .left img{
    width: 350px;
}

.item:hover {
    transform: scale(1.1);
    transition: transform .6s;

}


/* footer */


#footer{
    text-align: center;
    background: #000000;
    padding: 30px 0;
    color: #ffffff;
    font-weight: 700;
}


/* Scroll up styling */
.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    background: #697efe;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.scroll-up-btn.show{
    opacity: 1;
    pointer-events: auto;
    bottom: 30px;
}





































